{
  "singleQuote": false,
  "semi": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^(@/app|@/components)(/.*)$",
    "^[.]"
  ],
  "importOrderParserPlugins": ["javascript", "jsx"]
}
